<!-- partial:partials/_navbar.html -->
<div *ngIf="isAuthenticated" class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <div class="brand-logo">
            <a class="navbar-brand">
                <h4 class="company-logo">Kitchen</h4>
            </a>
        </div>
        <nav class="navbar-nav main-bar">
            <a class="p-2 text-dark" *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/recipes">Recipes</a>
            <a class="p-2 text-dark" *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/shopping-list">Shopping
                list</a>
            <a class="p-2 text-dark" *ngIf="!isAuthenticated" routerLinkActive="active" routerLink="/auth">Log in</a>
        </nav>
        <nav class="navbar-nav navbar-nav-right">
            <!--<a class="p-2 text-dark" (click)="onSaveData()">Save all recipes</a>-->
            <!--<a class="p-2 text-dark" (click)="onFetchData()">Fetch</a>-->
            <a class="p-2 text-dark" *ngIf="isAuthenticated" (click)="onLogout()">Log out</a>
        </nav>
    </div>
</div>
<!-- partial -->
