<form class="forms-sample" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <button
            type="submit"
            class="btn btn-gradient-primary mr-2"
            [disabled]="!recipeForm.valid">Save
    </button>
    <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>

    <div class="form-group">
        <label for="name">Name</label>
        <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
    </div>
    <div class="form-group">
        <label for="imgSrc">Image URL</label>
        <input
                type="text"
                id="imgSrc"
                formControlName="imgSrc"
                class="form-control"
                #imgSrc>
    </div>
    <div class="col-xs-12 recipe-image-preview">
        <img [src]="imgSrc.value" class="img-responsive">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea
                type="text"
                id="description"
                class="form-control"
                formControlName="description"
                rows="6"></textarea>
    </div>
    <div formArrayName="ingredients">
        <div class="form-row" *ngFor="let ingredientCtrl of  ingredientsControls; let i = index"
             [formGroupName]="i">
            <div class="form-group col-md-6">
                <input
                        type="text"
                        class="form-control"
                        formControlName="name">
            </div>
            <div class="form-group col-md-4">
                <input
                        type="number"
                        class="form-control"
                        formControlName="amount">
            </div>
            <div class="form-group col-md-2">
                <button
                        type="button"
                        class="btn btn-inverse-danger btn-icon"
                        (click)="onDeleteIngredient(i)">X
                </button>
            </div>

        </div>
        <div class="form-row">
            <div class="col-xs-12">
                <button
                        type="button"
                        class="btn btn-success"
                        (click)="onAddIngredient()">Add Ingredient
                </button>
            </div>
        </div>
    </div>

</form>

