<div class="container-fluid page-body-wrapper full-page-wrapper all-pages">
    <ng-template appPlaceholder></ng-template>
    <div class="content-wrapper d-flex align-items-center auth">
        <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
                <div *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div *ngIf="!isLoading"class="auth-form-light text-left p-5">
                    <div class="brand-logo">
                        <img src="../../assets/images/logo.png">
                    </div>
                    <h4 *ngIf="!isLoginMode">New here?</h4>
                    <h6 *ngIf="!isLoginMode" class="font-weight-light">Signing up is easy. It only takes one step</h6>
                    <h4 *ngIf="isLoginMode" class="font-weight-light">Welcome back!</h4>
                    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading" class="pt-3">
                        <div class="form-group">
                            <input
                                    type="email"
                                    class="form-control form-control-lg"
                                    placeholder="Email"
                                    ngModel
                                    name="email"
                                    required
                                    email
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="password"
                                    id="password"
                                    class="form-control form-control-lg"
                                    placeholder="Password"
                                    ngModel
                                    name="password"
                                    required
                                    minlength="6"
                            />
                        </div>
                        <div class="mt-3">
                            <button
                                    class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                                    type="submit"
                                    [disabled]="!authForm.valid"
                            >
                                {{ isLoginMode ? 'Login' : 'Sign Up' }}
                            </button>
                        </div>
                        <div class="text-center mt-4 font-weight-light"> {{ isLoginMode ? 'Do not have an account?' : 'Already have an account?' }}
                            <a
                                    (click)="onSwitchMode()" class="text-primary">Switch
                                to {{ isLoginMode ? 'Sign Up' : 'Login' }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->

</div>
