<div class="row py-2">
    <div class="col-sm-12">
        <img [src]="recipe.imgSrc" alt="{{recipe.name}}" class="img-fluid">
    </div>

</div>
<div class="row py-2">
    <div class="col-sm-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row py-2">
    <div class="col-sm-12">
        <div class="dropdown" appDropDown>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="onAddToShoppingList()">To shopping list</a>
                <a class="dropdown-item" (click)="onEditRecipe()">Edit recipe</a>
                <a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row py-2">
    <div class="col-sm-12">
        {{recipe.description}}
    </div>
</div>
<div class="row py-2">
    <div class="col-sm-12">
        <h4>Ingredients:</h4>
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>
