<div class="container-fluid page-body-wrapper full-page-wrapper inner-page">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-shopping"></i>
                </span> Shopping list </h3>
            </div>
            <div class="row">
                <div class="col-md-7 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="clearfix">
                                <h4 class="card-title float-left">Edit</h4>
                                <div id="visit-sale-chart-legend"
                                     class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                            </div>
                            <app-shopping-edit></app-shopping-edit>
                            <hr>
                            <ul class="list-group">
                                <li  class="list-group-item"
                                     *ngFor="let ingredient of (ingredients | async).ingredients; let i = index"
                                     (click)="onEditItem(i)">
                                    <a style="cursor: pointer">{{ingredient.name}} ({{ingredient.amount}})</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
