<div class="container-fluid page-body-wrapper full-page-wrapper inner-page">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-bowl"></i>
                </span> Recipes </h3>
                <!--<nav aria-label="breadcrumb">-->
                    <!--<ul class="breadcrumb">-->
                        <!--<li class="breadcrumb-item active" aria-current="page">-->
                            <!--<span></span>Refresh <i-->
                                <!--class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</nav>-->
            </div>
            <div class="row">
                <div class="col-md-7 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="clearfix">
                                <h4 class="card-title float-left">Recipes lists</h4>
                                <div id="visit-sale-chart-legend"
                                     class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                            </div>
                            <app-recipe-list></app-recipe-list>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Recipe detail</h4>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
