<a style="cursor: pointer"
   class="list-recipe row clearfix text-dark"
   routerLinkActive="active"
   [routerLink]="[index]">
    <div class="col-md-8">
        <h4>{{recipe.name}}</h4>
        <p>{{recipe.description}}</p>
    </div>
    <div class="col-md-4">
        <img [src]="recipe.imgSrc" class="img-fluid">
    </div>
</a>
