<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-gradient-primary btn-fw"  (click)="onNewRecipe()">Add recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <app-recipe-item  *ngFor="let recipeItem of recipes; let i = index"
                          [recipe]="recipeItem"
                          [index]="i"
        ></app-recipe-item>
    </div>
</div>
