<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onFormSubmit(f)" #f="ngForm">
            <div class="row ml-1">
                <div class="col-sm-6 form-group">
                    <label for="name">Name</label>
                    <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            ngModel
                            required
                    >

                </div>
                <div class="col-sm-4 form-group">
                    <label for="amount">Amount</label>
                    <input
                            type="number"
                            min=0
                            id="amount"
                            class="form-control"
                            name="amount"
                            ngModel
                            required
                            pattern="^[1-9]+[0-9]*$"
                    >
                </div>
            </div>
            <div class="row ml-3">
                <div class="col-xs-12">
                    <button class="btn btn-success ml-1"
                            type="submit"
                            [disabled]="!f.valid"

                    >{{editMode ? "Update" : "Add"}}
                    </button>
                    <button class="btn btn-danger ml-1"
                            type="button"
                            (click)="onDelete()"
                            *ngIf="editMode"
                    >Delete</button>
                    <button class="btn btn-primary ml-1"
                            type="button"
                            (click)="onClear()"
                    >Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
